<!DOCTYPE html>
<html>
<head>
<title>Supplier Dashboard</title>
<style>
body{margin:0;font-family:Arial;background:#f1f3f6}
.navbar{background:#2874f0;color:white;padding:18px 30px;display:flex;gap:25px;align-items:center}
.logo{font-size:30px;font-weight:bold;cursor:pointer}
.section{background:white;margin:25px;padding:25px;border-radius:8px}
input{padding:10px;margin:5px}
button{padding:10px 15px;margin:5px;background:#ff9f00;color:white;border:none;cursor:pointer}
li{background:#f7f7f7;margin:8px;padding:12px;list-style:none}
</style>
</head>
<body>

<div class="navbar">
    <div class="logo" onclick="location.href='/'">Supplier Panel</div>
</div>

<div class="section">
    <h2>Add Product</h2>

    <input id="name" placeholder="Product Name">
    <input id="desc" placeholder="Description">
    <input id="price" placeholder="Price">
    <input id="stock" placeholder="Stock">
    <input id="img" placeholder="Image URL">

    <button onclick="addProduct()">Add Product</button>
</div>

<div class="section">
    <h2>My Products</h2>
    <button onclick="loadProducts()">Load My Products</button>
    <ul id="products"></ul>
</div>

<script>
const API = "http://127.0.0.1:5000";

async function addProduct(){
    const token = localStorage.getItem("token");

    const res = await fetch(API + "/add-product", {
        method:"POST",
        headers:{
            "Content-Type":"application/json",
            "Authorization":"Bearer " + token
        },
        body:JSON.stringify({
            name:name.value,
            description:desc.value,
            price:price.value,
            stock:stock.value,
            image_url:img.value
        })
    });

    const data = await res.json();
    alert(JSON.stringify(data));
}

async function loadProducts(){
    const token = localStorage.getItem("token");

    const res = await fetch(API + "/supplier/products", {
        headers:{"Authorization":"Bearer " + token}
    });

    const data = await res.json();
    products.innerHTML = "";

    if(data.msg){ alert(data.msg); return; }

    data.forEach(p=>{
        products.innerHTML += `
            <li>
                ${p.name} | ₹${p.price} | Stock: ${p.stock} | Status: ${p.status}
            </li>
        `;
    });
}
</script>

</body>
</html>